xsd/acecf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ACECF">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ENCF" type="xs:string"/>
        <xs:element name="RNCEmisor" type="xs:string"/>
        <xs:element name="RNCComprador" type="xs:string"/>
        <xs:element name="Estado" type="xs:string"/>
        <xs:element name="Motivo" type="xs:string"/>
        <xs:element name="FechaAprobacion" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
