schemas/RFCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="RFCE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ENCF" type="xs:string"/>
        <xs:element name="RNCEmisor" type="xs:string"/>
        <xs:element name="Periodo" type="xs:date"/>
        <xs:element name="CantidadFacturas" type="xs:nonNegativeInteger"/>
        <xs:element name="MontoTotal" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
